#.·:·.《GITIGNORE》.·:·..·:·..·:·..·:·.[13]-[03]-[025]
#   DESCRIPTION:
#   Ignoring files while commiting
#   TAB before code hurts functionality
#
#
#
#
#   ╔════════════☽【❖】☾═════════════╗
#   ║ IGNORING RULES
#   ╚════════════☽【❖】☾═════════════╝
#
#   ignore all logs:
*.log
#
#
#
#   ╔════════════☽【❖】☾═════════════╗
#   ║ IGNORING FOLDERS
#   ╚════════════☽【❖】☾═════════════╝
#
#   all:
*
#
#
#
#   AUTHOR:
#   Liath
#
#.·:·.《✧》.·:·..·:·..·:·..·:·..·:·..·:·.《✧》.·:·.