#.·:·.《GITIGNORE》.·:·..·:·..·:·..·:·.[05]-[01]-[025]
#   DESCRIPTION:
#   Ignoring files while commiting
#
#
#
#
#   ╔════════════☽【❖】☾═════════════╗
#   ║ IGNORING RULES
#   ╚════════════☽【❖】☾═════════════╝
*.log
autostart/
ckb-next/
dconf/
falkTX/
GIMP/
go/
gtk-2.0/
gtk-3.0/
libreoffice/
obsidian/
pix/active_filter.xml
pix/filters.xml
pix/history.xbel
pulse/cookie
QtProject/Designer.conf
Raspberry Pi/Imager.conf
session/dolphin_dolphin_dolphin
simple-update-notifier/electron-builder.json
spotify/
StardewValley/
unity3d/
vlc/
.gsd-keyboard.settings-ported
baloofileinformationrc
baloofilerc
dolphinrc
kdeglobals
kiorc
konsolerc
konsolesshconfig
kservicemenurc
ktrashrc
pavucontrol.ini
QtProject.conf
trashrc
user-dirs.dirs
user-dirs.locale
vesktop/
VSCodium/